de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.3.0/de_core_news_sm-3.3.0-py3-none-any.whl
decorator
defusedxml
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints
idna
immutables
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jellyfish
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
notebook
numpy
pandas
QtPy
requests
scipy
six
spacy
spacy-legacy
spacy-loggers
spacy-syllables
spylls
tqdm
wordninja